[Unit]
Description=Lock the screen automatically after a timeout for the user %i
After=graphical.target

[Service]
User=%i
Environment=DISPLAY=:0.0
ExecStart=/usr/bin/xautolock -time 5 -locker /home/admin/bin/lock -detectsleep -notify 10 -notifier "notify-send -t 10000 -u low 'LOCKING screen in 30 seconds'"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
